/* ----------------------------------------------------- */
/*                  Modal Form Styling                   */
/* ----------------------------------------------------- */
#modal-form-movie-details {
   display: none;
   z-index: 1111;
   width: 650px;
   height: auto;
   overflow: auto;
   background-color: black;
   border: 5px solid white;
   color: white;
   border-radius: 10px;
   padding: 20px;
   box-shadow: 10px 10px 5px #888888;

   position: fixed;
   left: 20%;
   top: 10%;
}

#container-modal-form-header {
   display: flex;
   align-items: center;
}

#span-close-modal-form {
   font-size: 32px;
   font-weight: bold;
   cursor: pointer;
   margin-left: auto;
}

#details-header-h2 {
   width: 90%;

   text-align: right;
}

#modal-form-movie-details h1 {
   text-align: center;
   color: coral;
   font-size: 2rem;
}

#modal-form-movie-details h2 {
   text-align: center;
   margin: 10px 0;
   color: coral;
}

#modal-form-movie-details .close:hover,
#modal-form-movie-details .close:focus {
   color: red;
   text-decoration: none;
   cursor: pointer;
}

#modal-form-content {
   display: flex;
}

#modal-form-content img {
   width: 60%;
}

#modal-form-content div {
   display: flex;
   box-sizing: border-box;
   margin: 0 10px 10px 0;
   padding-left: 10px;
}

#modal-form-content label {
   width: 25%;
}

#modal-form-content input,
textarea {
   width: 75%;
}

#modal-form-movie-details .button-group {
   text-align: right;
}

#button-close-modal-form {
   color: white;
   background-color: red;
   font-weight: bold;
   padding: 5px;
   border-radius: 10px;
}

#modal-form-aside {
   padding: 20px;
}
