/* ----------------------------------------------------------- */
/*                          Footer Styling                     */
/* ----------------------------------------------------------- */
.container-footer {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.container-footer h3 {
   font-size: 18px;
   text-align: center;
}

/* ----------------------------------------------------------- */
/*                          Footer Top                         */
/* ----------------------------------------------------------- */
.container-footer-top {
   width: 100%;
   height: 70px;
   display: flex;
   align-items: center;
   background: linear-gradient(rgb(47, 150, 163), rgb(6, 28, 150));
   font-family: sans-serif;
   color: white;
}

/*                       Footer Top Left                       */
/* ----------------------------------------------------------- */
.container-footer-top-left {
   display: flex;
   align-items: center;
   /* background-color: cadetblue; */
   /* width: 90%; */
   padding-left: 20px;
}

.container-footer-top-left h3 {
   /* border: 1px solid red; */
}

#location-timezone {
   margin: 0 10px;
}

#flag-icon {
   height: 30px;
   margin-right: 20px;
   border: 1px solid white;
}

#temperature-degree {
   font-size: 36px;
}

#temperature-symbol {
   font-size: 36px;
}

/*           Footer Top Middle and Right Wrapper               */
/* ----------------------------------------------------------- */
.wrapper-footer-middle-right {
   display: flex;
   width: 400px;
   /* border: 2px solid red; */
   margin-left: auto;
}

/*                       Footer Top Middle                     */
/* ----------------------------------------------------------- */
.container-footer-top-middle {
   /* width: 230px; */
   display: flex;
   align-items: center;
   justify-content: space-around;
   /* background-color: black; */
   margin-left: 20px;
}

#temperature-description {
   font-weight: bold;
}

#current-weather-icon {
   height: 40px;
}

/* ----------------------------------------------------------- */
/*                          Footer Bottom                      */
/* ----------------------------------------------------------- */
.container-footer-bottom {
   display: flex;
   align-items: center;
   color: white;
   width: 100%;
   background: linear-gradient(rgb(6, 28, 150), rgb(47, 150, 163));
   padding: 10px;
   /* background-color: red; */
}

.container-footer-bottom span {
   font-style: italic;
   font-size: 18px;
}

.container-footer-bottom img {
   height: 20px;
   margin-right: 5px;
}

.container-footer-social-links {
   display: flex;
   align-items: center;
   margin-left: auto;
}

.container-footer-social-links a {
   display: flex;
   align-items: center;
   margin-right: 15px;
   text-decoration: none;
   color: wheat;
}

/* ----------------------------------------------------- */
/*                      Sticky Footer                    */
/* ----------------------------------------------------- */
.sticky-footer {
   position: sticky;
   bottom: 0;
}

/* ----------------------------------------------------- */
/*                     Responsive Footer                 */
/* ----------------------------------------------------- */
@media screen and (max-width: 850px) {
   .container-footer-bottom {
      flex-direction: column;
   }

   .container-footer p {
      width: 100%;
      margin: 10px 0;
      text-align: center;
   }

   .container-footer-social-links {
      width: 100%;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
   }
}

@media screen and (max-width: 800px) {
   .container-footer-top {
      flex-direction: column;
      height: 80px;
   }

   .wrapper-footer-middle-right {
      margin-left: 20px;
   }
}
